<div class="container " style="width: 100%" >

  <div class="row d-flex justify-content-center">

    <div class="col-md-1  col-12 d-flex justify-content-center ">
      <div   class="bg-danger1 d-flex justify-content-center align-items-center"  [ngClass]="{'bg-success':status>=1}" style="width: 40px;height: 40px;">
        <span class="font-weight-bold" style="font-size: 25px">1</span>
      </div>
    </div>

    <div class="col-md-4 col-12 d-flex justify-content-center align-items-center">
      <div class="bg-primary timeLineStick" ></div>
    </div>

    <div class="col-md-1 col-12 d-flex justify-content-center ">
      <div   class="bg-danger1 d-flex justify-content-center align-items-center"  [ngClass]="{'bg-success':status>=3}" style="width: 40px;height: 40px;">
        <span class="font-weight-bold" style="font-size: 25px">2</span>
      </div>
    </div>

    <div class="col-md-4 col-12 d-flex justify-content-center align-items-center">
      <div class="bg-primary timeLineStick"></div>
    </div>

    <div class="col-md-1 col-12 d-flex justify-content-center ">
      <div   class="bg-danger1 d-flex justify-content-center align-items-center"  [ngClass]="{'bg-success':status>=3}" style="width: 40px;height: 40px;">
        <span class="font-weight-bold" style="font-size: 25px">3</span>
      </div>
    </div>
  </div>
<!--text labels start-->
  <div class="row d-flex justify-content-center text-white">

    <div class="col-md-4  col-12 d-flex justify-content-start ">
      <div   class="bg-danger1 d-flex justify-content-center align-items-center px-3"  [ngClass]="{'bg-success':status>=1}" >
        Order Placed by you:Done
      </div>
    </div>

    <div class="col-md-4 col-12 d-flex justify-content-center ">
      <div   class="bg-danger1 d-flex justify-content-center align-items-center px-3"  [ngClass]="{'bg-success':status>=3}" >
        <!--<span class="font-weight-bold" style="font-size: 25px">2</span>-->
        Order Placed by the customer: Waiting
      </div>
    </div>

    <div class="col-md-4 col-12 d-flex justify-content-end ">
      <div   class="bg-danger1 d-flex justify-content-center align-items-center px-3"  [ngClass]="{'text':status>=3}" >
        Car is serviced at your location: Waiting
      </div>
    </div>
  </div>
<!--text labels start-->

</div>
