<!--<div class="container border1" id="parent">-->
  <!--<p>Drag to draw. Use buttons to change lineWidth/color</p>-->
  <!--<canvas id="canvas" class="border" width=100%></canvas>-->
  <!--<br>-->
  <!--<button id="undo">Hold this button down to Undo</button>-->
  <!--<br>-->
  <!--<br>-->
  <!--<button id="brush5">5px Brush</button>-->
  <!--<button id="brush10">10px Brush</button>-->
  <!--<button id="brushRed">Red Brush</button>-->
  <!--<button id="brushBlue">Blue Brush</button>-->
  <!--<button id="brushBlue">Blue Brush</button>-->



<!--</div>-->


