<div class="container-fluid border" style="background-color: #2e3e42;:">

  <!--TODO:nav not occupying full width-->
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="width: 100%;margin: 0;">
    <!-- Brand -->
    <button class="navbar-brand btn btn-dark" >Editor</button>

    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="!helperService.isItWorkshopRole()">
        <a class="nav-link" style="cursor: pointer" (click)="saveTagsToServer()">Save</a>
      </li>
      <!--<li class="nav-item">-->
        <!--<a class="nav-link" (click)="saveTagsToServer()">Tag</a>-->
      <!--</li>-->
      <li class="nav-item" *ngIf="!helperService.isItWorkshopRole()">
        <a class="nav-link" style="cursor: pointer" (click)="UndoTag()">Undo Tag</a>
      </li>
      <!--<li class="nav-item">-->
        <!--<a class="nav-link" (click)="saveTagsToServer()">Zoom</a>-->
      <!--</li>-->

    </ul>
  </nav>
  <div class="row ">
    <div class="bg-white col-12 border d-flex justify-content-center align-items-center" style="height: 600px;">
      <div   style="position: relative;display:inline-block;border: 0px solid red; max-width: 800px" >

        <!--big image starts-->
        <img id="imageT" #bigImage class="img-fluid" [ngClass]="{semiTransparent:makeImageSemiTransparent}"
             (click)="addNewTagToImage($event)"
             [src]='"https://s3-us-west-2.amazonaws.com/photogridsandeep/"+
               currentOrder.orderImageContainersArray[currentImageContainerIndexBeingEdited].orderImageURL'
             style="height: 100%; width: 100%;"
             alt="">
        <!--big image ends-->

        <!--following code will add a new tag on each click on image-->
        <!--ngFor starts-->
        <div *ngFor="let element of elementArray;index as i">
          <div [ngStyle]="{top:element.clientY + '%',left:element.clientX + '%'}"
               style="position: absolute;">
            <i (mouseenter)="mouseoverOnTag()" (mouseleave)="mouseoverOutOFTag()" class="fa fa-tag text-dark"
               data-toggle="tooltip"
               data-placement="top" [title]="element.toolTipText"></i>
            <div *ngIf="!element.inputHidden" class="bf">
              <input [(ngModel)]="toolTipText" class="bg-white" type="text">
              <span (click)="doneClicked(i,toolTipText)" style="border:2px solid white" class="font-weight-bold bg-blackish-custom text-white p-1">Done</span>
              <span (click)="removeEmptyTagsOrUnsaved()" style="border:2px solid white;" class="font-weight-bold bg-blackish-custom text-white p-1">Cancel</span>
            </div>
          </div>
        </div>
        <!--ngFor Ends1-->

      </div>
    </div>
  </div>
</div>

<p class="lead text-white text-center bg-blackish-custom">{{ elementArray.length===0? "No Image Tags" :  (elementArray.length + " Image Tag(s)") }}</p>
<p *ngIf="helperService.isLoggedIn() && !helperService.isItWorkshopRole()"
  class="lead text-white text-center bg-blackish-custom"><i class="fa fa-rupee"></i>{{ currentOrder.orderImageContainersArray[currentImageContainerIndexBeingEdited].orderImagePrice ? currentOrder.orderImageContainersArray[currentImageContainerIndexBeingEdited].orderImagePrice: " Not specified"}}</p>
<app-price [currentOrderObservable]="currentOrderObservable" [currentImageContainerIndexBeingEdited]="currentImageContainerIndexBeingEdited"></app-price>

<app-grid [cartisanOrder]="currentOrder" (imageDetailEvent) = "editedImageChanged($event)"></app-grid>

