<div class="container mt-5 bg-success" >
  <!--TODO: find a better way to center text below-->

  <button *ngIf="!gameStarted" class="btn btn-primary" (click)="startGame()">Start</button>
  <button class="btn btn-primary" (click)="reset()">Reset</button>
  <button *ngIf="!gameStarted" class="btn btn-danger" (click)="setMode('easy')"  [ngClass]="{highlighted: mode==='easy'}">Easy</button>
  <button *ngIf="!gameStarted" class="btn btn-danger" (click)="setMode('medium')" [ngClass]="{highlighted:mode==='medium'}">Medium</button>
  <button *ngIf="!gameStarted" class="btn btn-danger" (click)="setMode('hard')"  [ngClass]="{highlighted:mode==='hard'}">Hard</button>
  <button  class="btn btn-info" >score: {{score}}</button>
  <button class="btn btn-info" >Max score: {{maxScore?maxScore:0}}</button>

  <div class="row d-flex justify-content-center p-4 bg-white">
    <div *ngFor="let i of arr" class="box"
         (click)="boxClicked(i)"
         [ngClass]="{'col-2':mode==='hard','col-3':mode==='medium','col-4':mode==='easy',highlighted:boxHighlighted===i}"></div>

  </div>
</div>
